body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ff8800;
}

nav {
  margin: 0;
  padding: 0;
  display: flex;
}

nav > button {
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  padding: 15px 30px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: white;
  color: #ff8800;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.page {
  min-width: 700px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.active {
  display: flex;
}

h2 {
  color: #333333;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  font-size: 1em;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-sizing: border-box;
}
input:focus {
  border: 2px solid #ff8800;
  outline: none;
}

.btn-submit {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff8800;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.btn-submit:hover {
  background-color: #f08204;
  color: white;
}

#page-board {
  width: 700px;
}

#page-board > h2 {
  font-size: 2em;
  color: #ff8800;
}

/* 게시물 목록 스타일 */
#board-list {
  width: 100%;
  max-width: 700px;
  list-style: none;
  padding: 0;
}

#board-list > li {
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ff8800;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
#board-list > li:hover {
  background-color: #f6e7d7;
}

.board-title {
  font-size: 1.2em;
}

/* 게시글 등록 페이지 */

#write-content {
  height: 200px;
  margin-bottom: 10px;
  padding: 10px;
  resize: none;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-sizing: border-box;
}
#write-content:focus {
  outline: none;
  border: 2px solid #ff8800;
}
